<nav class="navbar navbar-expand-md navbar-light d-print-none">
  <div class="container-xl">
    <a class="navbar-brand" href="/">SEO Suite</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/keywords/">Keywords</a></li>
        <li class="nav-item"><a class="nav-link" href="/serp/runs/">SERP Runs</a></li>
        <li class="nav-item"><a class="nav-link" href="/rankings/">Rankings</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
